.carrusel_bg{
    display: flex;
    height: 43.75rem;
    width: 100%;
    overflow: hidden;
    background-color: $secondary;
    position: relative;
    text-align: center;
    color: $light;

    &__img{
        display: flex;
        height: 43.75rem;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        opacity: 45%;
    }
}

.caption{
    color: $light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}