// Rutas activas e inactivas 
.active {
    color: $dark;
    text-decoration: none;
    font-weight: 500;
}

.active:visited {
    color: $dark;
    text-decoration: none;
}

.inactive, .inactive:visited {
    color: $dark;
    text-decoration: none;
}

.navbar-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: none;
    padding-top: 2rem;
    font-weight: 500;
    color: $secondary;
    @media(min-width: 992px){
        padding-top: 0rem;
    }
}

/*Search bar*/
.search-nav-main{
    display: flex;
    justify-content: center;
    box-shadow: none;

}

.search-nav{ 
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: none;

    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch !important;
        flex-wrap: nowrap;

        &__form{
            display: flex;
            box-shadow: none;
            &__control{
                display: flex;
                border-radius: 25px;
                text-align: center;
            }
        }
    }

    @media(min-width: 768px){
        width: 50%;
        justify-content: center !important;
    }
}

.no-shadow{
    box-shadow: none;
}

// Personalización del navbar
/*OK*/
.cstm-navlink  {
    // color: $dark;
    align-items: flex-start;
    width: auto;
    text-decoration: none !important;  
    font-weight: 500;
    padding: .5rem .3rem; 
    justify-content: flex-start;
    &--perfil{
        width: 12rem;
    }
    &:hover{
        font-weight: 500;
        transition: .3 ease all;
        border-radius: 2rem;
    }
}

.dropdown-menu, .dropdown-item {
    //color: $dark;
    text-decoration: none !important;  
    flex-wrap: nowrap;
}


.dropdown-toggle, .toggle-cstm-container a {
justify-content: flex-end;
font-weight: 500;
color: $secondary;
}

.toggle-cstm-container a:hover {
    color: $dark;
    transition: .3 ease;
}



.cstm-navlink:visited{
    text-decoration: none;
}

// .navbar-nav{
//     font-weight: 700;
// }

.toggle-cstm-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.toggle-cstm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
    &__collapse{
        width: auto;
        justify-content: flex-start;
        align-items: flex-end;
        &__nav{
            align-items: flex-start;
            align-content: center;
            &__link{
                width: 10rem;
                align-items: center;
            }
        }
    }
    @media(min-width: 992px){
     
        &__collapse{
            &__nav{
                align-items: center;
            }
        }
    }
}
.navbar-toggler{
    border-color: transparent;

}

.my-dropdown-menu{
    width: auto;

}

.new-dropdown{
    
    display: flex;
    margin: 1rem;
    flex-flow: column nowrap;
}

.cstm-btn{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: $secondary;
    margin: 0rem .5rem;
    &:hover{
        font-weight: 700;
    }
}