.navbar-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: none;
    padding-top: 2rem;
    font-weight: 500;
    color: $secondary;


    @media(min-width: 992px){
        padding-top: 0rem;
    }
}

/*Search bar*/
.search-nav-main{
    display: flex;
    justify-content: center;
    box-shadow: none;

}

.search-nav{ 
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: none;

    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch !important;
        flex-wrap: nowrap;

        &__form{
            display: flex;
            box-shadow: none;
            &__control{
                display: flex;
                border-radius: 25px;
                text-align: center;
            }
        }
    }

    @media(min-width: 768px){
        width: 50%;
        justify-content: center !important;
    }
}

.no-shadow{
    box-shadow: none;
}

.active {
    color: $dark;
    text-decoration: none;
    font-weight: 700;
}

.active:visited {
    color: $dark;
    text-decoration: none;
}

.inactive, .inactive:visited {
    color: $dark;
    text-decoration: none;
}

.cstm-navlink  {
    // color: $dark;
    text-decoration: none !important;   
}

.dropdown-menu, .dropdown-item {
    //color: $dark;
    text-decoration: none !important;  
}


.dropdown-toggle, .toggle-cstm-container a {
color: $secondary;
}

.toggle-cstm-container a:hover {
    color: $dark;
}


.cstm-navlink:visited{
    text-decoration: none;
}

.navbar-nav{
    font-weight: 700;
}

.toggle-cstm-container {
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: center;
}

.toggle-cstm{
    display: flex;
    justify-content: center;
    align-items: start;
 
    &__collapse{
        justify-content: flex-start;
        align-items: center;
        &__nav{
            align-items: start;
            align-content: center;
            &__link{
                align-items: center;
            }
        }
    }
    @media(min-width: 992px){
     
        &__collapse{
            &__nav{
                align-items: center;
            }
        }
    }
}
.navbar-toggler{
    border-color: transparent;

}
