.lock{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $primary;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    border: solid 1rem $primary;
    margin: 3rem 0rem;
    &__icon{
        display: flex;
        font-size: 10rem;
        justify-content: center;
        align-items: center;
        color: $primary;
    }
}