.sliderslick{
    display: flex;
    height: 400px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: $primary;
    opacity: 20%;
   
}

.sliderslick-bg{
    display: flex;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: $primary;
    background-size: cover;
}