.profile-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.userinfo{
    font-weight: 700;
    font-size: .8rem;
    @media(min-width: 992px){
        font-size: 1rem;
    }
}

.userinfo-tag{
    font-size: .8rem;
    @media(min-width: 992px){
        font-size: 1rem;
    }
}

.publications{
    width: 100%;
}

.publication-table{
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;

    &__body{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__row{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2rem;

        &--head{
            height: 6rem;
        }
    }

    &__cell{
        width: 10rem;
        height: 10rem;
        margin: 0rem 5rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; 

        &--body{
            width: 18rem;
            font-weight: 700;
        }

        &--name{
            width: 18rem;
            margin: 0rem 5rem;
            font-weight: 700;
            font-size: 1.1rem;
            text-align: start;
            }
        &--img{
            width: 10rem;
            }
        &--chev-left{
            justify-content: flex-end;
            }
        &--chev-right{
            justify-content: flex-start;
            }
        &--icon{
            width: 2rem;
            margin: 0rem;
            }
    }

    &__img{
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 0rem;
        padding: 0rem;
    }

    &__price{
        width: 10rem;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: start;
        margin-top: 1rem;
    }

    &__icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
//--------------------------------------------------------------------------------------------------------------------------
    @media(min-width: 768px){
   
        &__cell{
            width: 10rem;
            margin: 0rem 2rem;
           
            &--name{
            width: 8rem;
            margin-left: 7rem;
            text-align: start;
            }
        }

        &__img{
        width: auto;
        height: auto;
        }

        &__name{
        font-size: 1.1rem;
        margin-top: 0rem;
        }

        &__price{
            text-align: center;
            font-size: 1.3rem;
            text-align: start;
            margin-top: 0rem;
        }

        &__icons{
            margin-top: 0rem;
        }
    }

//--------------------------------------------------------------------------------------------------------------------------
    @media(min-width: 992px){
        flex-flow: row nowrap;
        &__body{
            width: 100%;
        }

        &__row{
            width: 100%;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &__cell{
            width: auto;
            margin: 0rem 5rem; 

            &--img{
                width: auto;
            }

                &--name{
                width: 10rem;
                margin: 0rem 4rem;
                font-size: 1.3rem;
                text-align: start;
                }
    
                &--qty{
                    width: 2rem;
                    font-size: 1.3rem;
                    text-align: center;
                }

                &--body{
                    width: auto;
                }
                
            
        }

        &__img{
        width: 5rem;
        height: 5rem;
        }

        &__price{
            width: 10rem;
            font-size: 1.5rem;
            text-align: start;
            margin-top: 0rem;
        }

        &__icons{
            width: 10rem;
            margin-top: 0rem;
        }
    }


}
//-------------------------------------------------------------
.publication-text{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    font-weight: 400;
}


    



